node_modules
npm-debug.log
dist
coverage
.git
.github
.gitignore
.env
.env.*
!.env.example
README.md
.eslintrc.json
.eslintrc.js
.prettierrc
.prettierignore
.editorconfig
.husky
.vscode
.idea
*.log
Dockerfile
docker-compose.yml
.dockerignore