# .dockerignore
.git
.gitignore
.env
.env.*
!.env.example
log/
tmp/
vendor/bundle/
spec/
docs/openapi.yaml
README.md
.rspec
.rubocop.yml
.rubocop_cache/
.bundle/
coverage/
node_modules/
data/
*.md
*.log
*.tmp
*.bak
*.swp
.DS_Store