node_modules
dist
coverage
.git
.github
.gitignore
.env
.env.*
!.env.example
README.md
docs
.vscode
.idea
Dockerfile
docker-compose.yml
.dockerignore
.eslintrc*
eslint.config.*
.prettierrc
.prettierignore
*.log
src/infrastructure/database/generated
