# Application
VITE_APP_NAME="React Boilerplate"
VITE_APP_ENV=development

# API
VITE_API_BASE_URL=http://localhost:3000/api
VITE_API_TIMEOUT=15000
VITE_USE_MOCKS=true

# Auth
VITE_AUTH_TOKEN_KEY=rb_auth_token
VITE_AUTH_REFRESH_KEY=rb_refresh_token